---
interface Props {
  href?: string;
  class?: string;
}

const { href, class: ClassName } = Astro.props;
---

<a
  class=`flex gap-3 text-zinc-400 hover:text-zinc-100 hover:scale-105 items-center py-3 px-2 font-medium transition duration-300 ${ClassName}`
  href={href}
>
  <slot />
</a>
