---
import {Image} from 'astro:assets';
import imagenDoctor from '../icons/doctor.png';
---
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body class="content">
        <div class="left">
            <h1>Bienvenidos</h1>
            <div class = "formulario">
                
                <div class="ingreso">
                    <h2>Usuario</h2>
                    <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">
                    <h2>Contraseña</h2>
                    <input type="password" id="password" name="password" placeholder="***********">  
        
                </div> 
                <input type="button" value="Ingresar" class = "button "> 
                <div class="flex-container">
                    <p>¿No tienes acceso?</p>
                    <p class="solicitar">Solicitar al administrador</p>
                </div>
                </div>  
        </div>
        <div class="rigth" >
        <Image src={imagenDoctor} alt="doctor" />    
        </div>

        
    </body>
        

</html>

<style>
    .button {
        background-color: #0F172A;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        text-decoration: none;
        display: flex;
        font-size: 24px;
        margin: 23px 2px;
        cursor: pointer;
        width: 60%;
        justify-content: center;

    }
        
        
    h1 {
        color: #0F172A;
        font-family: inria-serif;
        font-size: 58px;
        font-weight: semi-bold;
        margin-top: 80px;

    }
     h2 {
        font-size: 28px;
        font-family: sans-serif;
        font-weight: semi-bold;

    }

    .rigth{
        background-color: #CBD5E1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .rigth img {
        width: 85%;
        height: 70%;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100vh;
        align-items: center;
        gap: 20px;
    }
        


    .content {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .formulario{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 300px;
    }
    .ingreso{
        width: 600px;
        display: flex;
        flex-direction: column;
        margin-right:30px;
        gap: 10px;
        margin-top: 40px;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        gap: 4px;
        font-size: 18px;

    }
    .solicitar {
        color: #DBA7A7;
        font-weight: bold;
        cursor: pointer;

    }  
    
    #usuario, #password {
        width: 100%;
        height: 60px;
        border: 5px solid #DCDFE8;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
    }

    #usuario:focus {
        border: 3px solid rgb(155, 160, 218);
        outline: none;
    }

    #password:focus {
        border: 3px solid rgb(155, 160, 218);;
        outline: none;
    }


</style>