---
import Layout from "@layouts/Layout.astro";
import MedicalHistory from "@components/Medical";
---

<Layout title="Azlheimer Classification Website">
  <main class="h-full max-w-5xl m-auto flex items-center justify-center p-5">
    <div class="flex justify-between w-full">
      <MedicalHistory client:load />
    </div>
  </main>
</Layout>
