---
import "@fontsource-variable/mulish";
import AsideMenu from "@components/AsideMenu.astro";
import HeaderMenu from "@components/HeaderMenu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <div id="app" class="h-screen">
        <aside class="[grid-area:aside] flex flex-col bg-slate-900">
          <AsideMenu />
        </aside>

        <header class="[grid-area:header] bg-slate-300">
          <HeaderMenu />
        </header>

        <main class="[grid-area:main] bg-white">
          <slot />
        </main>

        <footer class="[grid-area:footer] h-[80px] bg-slate-400"></footer>
      </div>
    </div>
  </body>
</html>
<style>
  #app {
    display: grid;
    grid-template-areas:
      "aside header header"
      "aside main main"
      "aside footer footer";
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
</style>
<style is:global>
  html {
    font-family: "Mulish Variable", system-ui, sans-serif;
  }
</style>
